## This is the updated system
1. Fetch data from NSE
2. Automatically generate prices and stop loss
3.

## Instructions
1. See instructions for each cell
2. You need to change only the PARAMETERS, nothing else
3. You need to have 2 bhav copy files, one to generate orders and the next to evaluate performance
4. Based on the previous day orders, **results.xlsx** file is generated. You need to fill in the current day's open price and run the cells below it to generate orders. This would generate **orders.csv** file
5. At the end of the day, you need to download the bhav copy results to evaluate performance. This would generate a **peformance.csv** file

Save all these files at the end of the day in a new folder. We would automate this process also soon

In [1]:
# Import libraries
import pandas as pd
import os

In [2]:
%load_ext autoreload

In [5]:
%autoreload
from utils import *
fetch_preopen_data()

        SYMBOL  PctChange  OpenPrice
0    COALINDIA       1.14     282.80
1         GAIL       1.13     381.95
2     INFRATEL      -0.16     275.25
3         NTPC      -0.09     169.05
4    HINDPETRO      -0.02     246.60
5     AXISBANK      -0.02     651.65
6        LUPIN       0.98     953.65
7         SBIN       0.88     287.35
8    SUNPHARMA       0.78     643.00
9        TECHM       0.75     772.00
10     YESBANK       0.73     326.00
11        ZEEL       0.69     476.00
12        INFY       0.69     735.90
13        VEDL       0.67     225.00
14      GRASIM       0.63    1022.50
15         M&M       0.60     943.00
16       WIPRO       0.60     326.95
17         UPL       0.60     707.50
18     DRREDDY       0.57    2578.45
19  TATAMOTORS       0.56     277.25
20  ADANIPORTS       0.52     373.90
21        BPCL       0.49     345.80
22  HEROMOTOCO       0.48    3294.00
23    HINDALCO       0.47     236.80
24         TCS       0.40    2089.00
25          LT       0.36    1341.55
26        HDFC       0.34    1890.00
27      MARUTI       0.33    8668.00
28       CIPLA       0.31     670.10
29   KOTAKBANK       0.30    1227.00
30       TITAN       0.29     860.00
31   TATASTEEL       0.28     615.35
32  INDUSINDBK       0.27    1834.10
33    HDFCBANK       0.25    2046.30
34    RELIANCE       0.25    1259.00
35   ICICIBANK       0.24     333.70
36  BAJAJ-AUTO       0.22    2875.00
37   EICHERMOT       0.20   28680.00
38  BAJFINANCE       0.20    2621.00
39  HINDUNILVR       0.17    1613.00
40  ASIANPAINT       0.15    1295.00
41     HCLTECH       0.12    1090.00
42  BAJAJFINSV       0.06    6351.10
43  IBULHSGFIN       0.06    1162.00
44   POWERGRID       0.05     193.05
45  BHARTIARTL       0.03     388.50
46        ONGC       0.03     168.70
47         ITC       0.03     306.65
48         IOC       0.03     151.10
49  ULTRACEMCO       0.00    4154.75

## Parameters that could be changed

In [2]:
UNIVERSE = 'NIFTY50' # Universe to be searched
STOP_LOSS = 3 # Stop loss for the order
NUM_STOCKS = 5 # Number of stocks to sell
CAPITAL = 20000
LEVERAGE = 1

In [12]:
### Don't change the below cell

In [3]:
orders = pd.read_csv(ORDER_FILENAME, parse_dates=['TIMESTAMP'],
                    usecols=range(13))
symbols = pd.read_excel('universe.xlsx', sheet_name=UNIVERSE, header=None).values.ravel()
df = orders[orders['SYMBOL'].isin(symbols)]
df = df[df['SERIES'] == "EQ"].reset_index(drop=True)
df['RET'] = (df['CLOSE']/df['PREVCLOSE']) - 1
result = df.sort_values(by='RET', ascending = False).iloc[:NUM_STOCKS]
result['OPENPRICE'] = 0
result[['TIMESTAMP', 'SYMBOL', 'OPENPRICE']].to_excel('output.xlsx', index=False)
print('Update OPENPRICE in the output.xlsx file')
result[['TIMESTAMP', 'SYMBOL', 'OPENPRICE']]

FileNotFoundError: [Errno 2] No such file or directory: 'cm29AUG2018bhav.csv.zip'

### Update OPEN PRICE in output.xlsx file and run the below cell

In [14]:
trading_capital = CAPITAL * LEVERAGE
orders = pd.read_excel('output.xlsx')
num_stock = len(orders)
orders['price'] = orders['OPENPRICE']
orders['stop_loss'] = (orders['price'] * 1.03).round(2)
orders['qty'] = (trading_capital/num_stock/orders['price']).round()
orders.to_csv('orders.csv', index=False)
print('Orders file created')
orders

Orders file created

   TIMESTAMP    SYMBOL  OPENPRICE    price  stop_loss   qty
0 2018-08-24      VEDL     225.95   225.95     232.73  18.0
1 2018-08-24      ONGC     175.45   175.45     180.71  23.0
2 2018-08-24    GRASIM    1063.10  1063.10    1094.99   4.0
3 2018-08-24  AXISBANK     643.00   643.00     662.29   6.0
4 2018-08-24      ZEEL     517.00   517.00     532.51   8.0

In [16]:
### Run the below cell to evaluate peformance

In [18]:
def isPrice(price, high, low):
    if price >= low and price <=high:
        return True
    else:
        False

orders = pd.read_csv('orders.csv', index_col='TIMESTAMP', parse_dates=True)
end_of_day = pd.read_csv(RESULT_FILENAME, parse_dates=['TIMESTAMP'],
                    usecols=range(13))
end_of_day = end_of_day[end_of_day['SERIES'] == "EQ"]
orders = orders.merge(end_of_day)
orders['SELL'] = [price if isPrice(price, high, low) else close for
                 price, high, low, close in 
                 zip(orders['price'], orders['HIGH'], orders['LOW'], orders[REF_PRICE])]
orders['BUY'] = [price if isPrice(price, high, low) else close for
                 price, high, low, close in 
                 zip(orders['stop_loss'], orders['HIGH'], orders['LOW'], orders[REF_PRICE])]
orders['profit_per_unit'] = orders['SELL'] - orders['BUY']
orders['total_profit'] = orders['profit_per_unit'] * orders['qty']
cols = ['TIMESTAMP', 'SYMBOL', 'BUY', 'SELL', 'profit_per_unit', 'total_profit']
orders.to_csv('performance.csv', index=False)
orders[cols]

   TIMESTAMP    SYMBOL      BUY     SELL  profit_per_unit  total_profit
0 2018-08-27      VEDL   225.50   225.95             0.45           8.1
1 2018-08-27      ONGC   176.05   175.45            -0.60         -13.8
2 2018-08-27    GRASIM  1078.45  1063.10           -15.35         -61.4
3 2018-08-27  AXISBANK   650.20   643.00            -7.20         -43.2
4 2018-08-27      ZEEL   511.20   517.00             5.80          46.4