## Python primer
This tutorial assumes you have installed python 3 via [anaconda].(https://www.anaconda.com/download/) and using jupyter notebook

This is an extremely basic introduction to Python to get you started. This is not a python tutorial per se. If you want a more formal and thorough start to python, I recommend this excellent course from [datacamp](https://www.datacamp.com/courses/intro-to-python-for-data-science).

In [2]:
# Comments in python starts with a hash mark #
# Comments starting with hash must end in the same line;
# You can't continue it in the next line
# Comments are not executed as code; so include any information in them

You can use python as a calculator. All arithmetic symbols are accepted.
Use ** for exponentiation

In [4]:
2**5

32

By default, jupyter notebook shows only the last output
Use the print statement explicitly to print the output

In [6]:
print(2+5)
print(10-5)
print(7*2, 2**5, 7/3) # Use comma to print multiple statements in a single line

7
5
14 32 2.3333333333333335

Strings in Python can be enclosed in single or double quotes

In [14]:
print('hello world')
print("It's a good day")
print('A double quote is represented by ""') # Now you know why quotes are useful

hello world
It's a good day
A double quote is represented by ""

Sometimes you need to print some value with a string. Use {} and format to achieve this.

In [15]:
print('My name is {}'.format('Machine'))
print("10 multiplied by 20 is {}".format(10*20))
print('For multiple values, use multiple braces and commas {}{}{}'.format(1,2,3))

My name is Machine
10 multiplied by 20 is 200
For multiple values, use multiple braces and commas 123

Let's do a simple calculation. You have purchased 20 apples at 10 each and the tax rate is 10 percent. What is the total amount?

* Number of apples = 20
* Cost per apple = 10
* Tax rate = 10%
* So, Cost = 20 * 10 = 200
* Tax = 10% on 200 = 200 * 0.1 = 20
* Total Amount = 200 + 20 = **220**

Let's do this in Python

In [17]:
number_of_apples = 20 # Don't leave spaces for names. Sorry its a requirement :)
cost_per_apple = 10
tax_rate = 0.1
cost = number_of_apples * cost_per_apple
print('Cost before tax is {}'.format(cost)) # Print included for checking
tax = tax_rate * cost
print('Tax is {}'.format(tax))
total_amount = cost + tax
print('Total Amount is {}'.format(total_amount))

Cost before tax is 200
Tax is 20.0
Total Amount is 220.0

So, we have just turned a calculation into Python code. I just included the print statement for displaying the results at each step; its not mandatory

Instead of directly calculating, we assign names to each of our values. These names are called variables. Variables are descriptive names; you can select any name but remember the following rules
 * variables should not have spaces
 * variables should not be reserved python keywords.

But how do I know python keywords. Simple they just show up in green in this notebook when you type.

Varibles are useful because they are **descriptive, reusable and reduce our work and errors**. We just turned a calculation into an equation so that we can just fill in the required 3 values and the calculations are done automatically instead of recalculating everytime